body {
  text-align: center;
  background-image: url('fond.jpg');
  color: white;
  background-size: cover;
}

div {
  font-family: 'Dosis', sans-serif;
  color: white;
}

input[type=text], input[type=password] {
    background-color: rgba(255, 0, 0, 0);
    font-size: 15px;
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 15px;
}

button {
  background-color: #45B39D ;
  border-radius: 10px;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 25%;
  font-size: 15px;
}
